#etalage .etalage_thumb {
    background: white url(../images/loading.gif) center no-repeat;
}

#etalage .etalage_small_thumbs li {
    border: 1px solid #ddd;
    margin: 10px;
    cursor: pointer;
}

#etalage .etalage_zoom_area, .etalage_zoom_area {
    background: white url(../images/loading.gif) center no-repeat;
}

#etalage .etalage_magnifier {
    background: white;
    border: 1px solid #bbb;
}

#etalage .etalage_icon {
    background: url(../images/zoom.png) no-repeat;
    width: 104px;
    height: 104px;
}

#etalage .etalage_hint {
    background: url(../images/hint.gif) no-repeat;
    width: 130px;
    height: 57px;
}

#etalage .etalage_description {
    background: white;
    font-style: italic;
    margin: 10px;
    padding: 6px 10px;
}

.etalage, .etalage_thumb, .etalage_thumb_image, .etalage_source_image, .etalage_zoom_preview, .etalage_icon, .etalage_hint {
    display: none
}

.etalage_source_image {
    display: none !important;
}

.etalage, .etalage_magnifier div, .etalage_magnifier div img, .etalage_small_thumbs ul, ul .etalage_small_thumbs li, .etalage_zoom_area div, .etalage_zoom_img {
    position: relative
}

.etalage, .etalage_small_thumbs li {
    float: left
}

.etalage_small_thumbs li img {
    width: 60px !important;
    height: 100% !important;
}

.etalage_small_thumbs {
    width: 100% !important;
}

.etalage_right {
    float: right
}

.etalage li {
    position: absolute
}

.etalage img {
    vertical-align: bottom;
    max-width: none;
}

.etalage_thumb_image {
    width: 100% !important;
}

.etalage_zoom_area div {
    width: 530px !important;
}

.etalage_magnifier div, .etalage_small_thumbs {
    overflow: hidden
}

.etalage_magnifier div img {
    display: none
}

.etalage_zoom_area {
    z-index: 996
}

.etalage_zoom_area div {
    overflow: hidden;
    z-index: 997
}

.etalage_zoom_preview {
    position: absolute;
    z-index: 998
}

.etalage_zoom_img, .etalage_hint {
    z-index: 999
}

@media only screen and (max-width: 920px) {
    .etalage_zoom_area div {
        width: 400px !important;
    }
}

@media only screen and (max-width: 768px) {
    .etalage_zoom_area div {
        width: 380px !important;
    }
}

@media only screen and (max-width: 480px) {
    .etalage_zoom_area div {
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    #etalage .etalage_thumb {}
}
