.single_top{
  margin-top: 30px;
}
.header_top {
    background: #f7f7f7;
    padding: 2px 0;
    border-bottom: 1px solid #EFEFEF;
}
.shopping_cart {
    padding: 10px;
}

.item_add:hover {
    background: url(../images/plus.png) no-repeat 10px 10px rgb(3, 193, 167);
}
i.back_arrow {
    width: 15px;
    height: 15px;
    float: left;
    background: url(../images/img_sprite.png)no-repeat -194px -14px;
}
.span_3_of_2 h1 {
    color: #4a4a4a;
    font-size: 1.5em;
    font-weight: 600;
}
.price_single {
    margin: 1em 0 2em;
}
.head {
    float: left;
}
.head h2 {
    color: #f54d56;
    font-size: 2.5em;
    font-weight: bold;
}
.head_desc {
    float: right;
    margin-top: 15px;
}
.head_desc a {
    font-size: 0.8125em;
    color: #999;
    margin-right: 1em;
}
.span_3_of_2 p {
    color: #999;
    font-size: 0.85em;
    line-height: 1.8em;
}
.menu_drop {
    width: auto;
    height: auto;
    padding: 0;
    list-style: none;
}
ul.menu_drop li.item1 {
    background: #FDA5AA;
}
ul.menu_drop li.item1 img, ul.menu_drop li.item2 img, ul.menu_drop li.item3 img, ul.menu_drop li.item4 img, ul.menu_drop li.item5 img {
    margin: -3px 10px 0 0;
}
ul.menu_drop li.item2 {
    background: #FC9096;
}
ul.menu_drop li.item3 {
    background: #FD7179;
}
ul.menu_drop li.item4 {
    background: #FA5C65;
}
ul.menu_drop li.item5 {
    background: #f54d56;
}
ul {
    padding: 0;
    list-style: none;
}
.menu_drop>li>a {
    width: 100%;
    height: 4em;
    line-height: 4em;
    text-indent: 1.2em;
    display: block;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}
.menu_drop ul li a {
    background: #fff;
    width: 100%;
    height: 5em;
    line-height: 1.8em;
    display: block;
    position: relative;
    font-size: 0.85em;
    font-weight: 400;
    color: #878d95;
}
.menu_drop>li>a:hover, .menu>li>a.active {
    background: #7f7e7e;
}
.images_3_of_2 {
    width: 26.2%;
    float: left;
    margin-right: 2.6%;
}
.span_3_of_2 {
    width: 70.3333%;
}
.desc1 {
    display: block;
    float: left;
}
.btn:hover, .btn:focus {
    outline: none;
    box-shadow: none;
    background-color: red;
}
.btn {
  background: #FE980F;
  border: 0 none;
  border-radius: 1;
  width: 30%;
}
