.menu {
  background-color: #D5B0AC;
  text-align: center;
  margin-bottom: 10px;
}

.menu span {
  color: #402E2A;
  font-weight: bold;
  display: inline-block;
  width: 100px;
  line-height: 30px;
  position: relative;
}

.menu span:hover {
  background-color: #9CD08F;
  color: #FFFFFF;
  cursor: pointer;
}
.User h2 {
  text-align: center;
}
.Uer_manogement{
  text-align: center;
  margin-top: 30px;
}
.log_user{
  margin-top: 30px;
}
.send{
  float: right;
}
.table{
  height: 400px;
  width: 85%;
}
.usershop div{
  padding-bottom: 10px;
}
